{% extends "base-adm.html" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="/CSS/admin.css" media="screen" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js">
</script>
<script type="text/javascript">
$(document).ready( function () {
	$('.forma').css('display','none');
	$(".editButton").click( function() { editForm(this); });
	$(".cancelEdit").click( function() { hideForm(this); });
});

function editForm(button) {
	$(button).parent().siblings().css("display","block");
	$(button).parent().css("display","none");
};

function hideForm(button) {
	$(button).parent().siblings().css('display','block');
	$(button).parent().css('display','none');
};

function addVenue(form) {
	var selectValue = $('select option:selected').attr('value');
	var block = $(form).siblings('.venueBlock');
	if (selectValue == 'createNew') $(block).css('display','block');
	else $(block).css('display','none');
};

function confirmDelete() {
    var conf = confirm("Vai tiešām dzēst?");
    if (conf) return true;
    return false;
};
</script>
{% endblock header %}
{% block adm-content %}
{% for venue in venues %}
    <div class="mainContent">
        <form class="forma" action="/admin/storevenue" method="post">
            <input type="hidden" value="{{ venue.key }}" name="venueKey" />
            <h4>Labot &quot;{{ venue.title }}&quot;</h4>
            <label for="venueTitle">Nosaukums: </label>
                <input type=text" id="venueTitle" name="venueTitle" value="{{ venue.title }}" />
			<label for="venueCity">Pilsēta: </label>
                <input type=text" id="venueCity" name="venueCity" value="{{ venue.city }}" />
            <p>Adrese:</p>
            <textarea name="venueAddress" rows="8" cols="40">{{ venue.address }}</textarea>
            <label for="venueWeb">Mājaslapa: </label>
                <input type=text" id="venueWeb" name="venueWeb" value="{{ venue.web }}" />
            <div><input type="submit" value="Labot norises vietu" /></div>
            <p class="cancelEdit">[ Atcelt ]</p>
        </form>
        <div class="venuePreview">
            <p>Nosaukums: {{ venue.title }}</p>
            <p class="editButton">[ Labot ]</p>
        </div>
    <form method="post" action="/admin/delete_venue">
    <input type="hidden" name="entry" value="{{ venue.key }}" />
    <input type="submit" value="Dzēst norises vietu" onClick="return confirmDelete()" />
    </form>
	</div>
{% endfor %}
{% endblock adm-content %}
