{% extends "base-adm.html" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="/CSS/admin.css" media="screen" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js">
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript">
$(document).ready( function () {
	$("#datepicker_end").datepicker({altField: '#eventDate_end',
								 altFormat: 'yy-mm-dd'});
	$("#datepicker").datepicker({altField: '#eventDate',
								 altFormat: 'yy-mm-dd'});
	var selectValue = $('select option:selected').attr('value');
	if (selectValue !== 'createNew')  {
		$("#venueBlock").css("display","none");
	}
	$("#venueKey").change( function() { addVenue(this); });
	$("input[name=dateType]:radio").change( function() { chDate(this); });
	$("#datepicker_end").css('display','none');
	$(".datepicker_end").css('display','none');
	$("#eventTime_end").css('display','none');
});

function addVenue(form) {
	var selectValue = $('select option:selected').attr('value');
	var block = $(form).siblings('#venueBlock');
	if (selectValue == 'createNew') $(block).css('display','block');
	else $(block).css('display','none');
};

function chDate(radio) {
	var valu = $(radio).attr('value');
	if (valu == 's') {
		$("#datepicker_end").css('display','none');
		$(".datepicker_end").css('display','none');
		$("#eventTime_end").css('display','none');
	}
	if (valu == 'e') {
		$("#datepicker_end").css('display','block');
		$("h3.datepicker_end").css('display','block');
		$("#eventTime_end").css('display','inline');
	}	
};
</script>
<style type="text/css">
#datepicker { width:50px; }
</style>
{% endblock %}
{% block adm-content %}
 
	<div id="mainContent">
	<form action="/admin/store_new" method="post" accept-charset="utf-8">
            <h2>Jauns pasākums:</h2>
			<label for="eventTitle">Nosaukums: </label>
                <input type=text" name="eventTitle" id="eventTitle" value="" />
			<label for="venueKey">Norises vieta: </label>
                <select name="venueKey" id="venueKey">
                {% for venue in venues %}
                    <option value="{{ venue.key }}">{{ venue.title }}</option>
                {% endfor %}
                    <option value="createNew">Izveidot jaunu...</option>
                </select>
			<div><span>Pasākuma apraksts: </span></div>
			    <textarea name="eventInfo" rows="8" cols="40"></textarea><br /><br />
<input type="radio" value="s" name="dateType" id="justStart" checked="checked">
                <label for="justStart">Rādīt tikai sākuma laiku</label><br />
<input type="radio" value="e" name="dateType" id="startEnd">
                <label for="startEnd">Rādīt sākuma & beigu laikus</label><br />
            <h3>Sākuma laiks:</h3>
		    <div id="datepicker"></div>
			<input type="hidden" id="eventDate" name="eventDate" />
			<label for="eventTime">Laiks (hh:mm): </label>
                <input type=text" name="eventTime" id="eventTime" value="" />
            <h3 class="datepicker_end">Beigu laiks:</h3>
            <div id="datepicker_end"></div>
			<input type="hidden" id="eventDate_end" name="eventDate_end" />
			<label class="datepicker_end" for="eventTime">Laiks (hh:mm): </label>
                <input type=text" name="eventTime_end" id="eventTime_end" value="" />
        <div id="venueBlock">
            <hr />
            <h2>Jauna pasākumu norises vieta:</h2>
			<label for="venueTitle">Nosaukums: </label>
                <input type=text" id="venueTitle" name="venueTitle" value="" />
            <br />
			<label for="venueCity">Pilsēta: </label>
                <input type=text" id="venueCity" name="venueCity" value="" />
			<div><span>Adrese: </span></div>
			    <textarea name="venueAddress" rows="8" cols="40"></textarea><br />
			<label for="venueWeb">Mājaslapa: </label>
                <input type=text" id="venueWeb" name="venueWeb" value="" />
            <hr />
		</div>
	<p><input type="submit" value="Pievienot pasākumu" /></p>
	</form>
    </div>
{% endblock %}
