{% extends "base-adm.html" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="/CSS/admin.css" media="screen" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js">
</script>
<script type="text/javascript">
$(document).ready( function () {
	$('.forma').css('display','none');
	$(".venueBlock").css("display","none");
	$(".editButton").click( function() { editForm(this); });
	$(".cancelEdit").click( function() { hideForm(this); });
	$(".venueKey").change( function() { addVenue(this); });
});

function editForm(button) {
	$(button).parent().siblings().css("display","block");
	$(button).parent().css("display","none");
};

function hideForm(button) {
	$(button).parent().siblings().css('display','block');
	$(button).parent().css('display','none');
};

//shite kautkas gljuko
function addVenue(form) {
	var selectValue = $('select option:selected').attr('value');
	var block = $(form).siblings('.venueBlock');
	if (selectValue == 'createNew') $(block).css('display','block');
	else $(block).css('display','none');
};

</script>
{% endblock %}
{% block adm-content %}
	<div id="formWrapper">
	{% for event in events %}
	<div class="mainContent">
	<form action="/admin/store_edit" class="forma" method="post" >
		 <h3>Labot &quot;{{ event.title }}&quot;</h3>
			<label for="eventTitle">Nosaukums: </label>
                <input type=text" name="eventTitle" id="eventTitle" value="{{ event.title }}" />
			<label for="venueKey">Norises vieta: </label>
                <select name="venueKey" id="venueKey">
                {% for venue in venues %}
                    <option value="{{ venue.key }}"
                    {% ifequal venue.key event.venue.key %}
                    selected="selected"
                    {% endifequal %}
                    >{{ venue.title }}</option>
                {% endfor %}
                    <option value="createNew">Izveidot jaunu...</option>
                </select>
			<div><span>Pasākuma apraksts: </span></div>
			    <textarea name="eventInfo" rows="8" cols="40">{{ event.information }}</textarea><br />
		    <p>jQuery datepicker goes here, pagaidām piesaistās laiks saglabāšanas brīdī.</p>
        <div class="venueBlock">
            <hr />
            <h3>Jauna pasākumu norises vieta:</h3>
			<label for="venueTitle">Nosaukums: </label>
                <input type=text" id="venueTitle" name="venueTitle" value="" />
            <br />
			<label for="venueCity">Pilsēta: </label>
                <input type=text" id="venueCity" name="venueCity" value="" />
			<div><span>Adrese: </span></div>
			    <textarea name="venueAddress" rows="8" cols="40"></textarea><br />
			<label for="venueWeb">Mājaslapa: </label>
                <input type=text" id="venueWeb" name="venueWeb" value="" />
            <hr />
		</div>
	<p><input type="submit" value="Labot pasākumu" /></p>
	<p class="cancelEdit">[ Atcelt rediģēšanu ]</p>
	</form>
	<div class="formPreview">
        <p><strong>{{ event.title }}</strong></p>
        <p>{{ event.information }}</p>
        <p>Datums & laiks jāizlabo lai rādās tādā pašā formātā, kā public-event.html</p>
        <p>Norises vieta:  {{ event.venue.title }}</p>
		<p class="editButton">[ Rediģēt pasākumu ]</p>
	</div>
	</div>
	{% endfor %}
	</div>
{% endblock %}
