<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>kaslabslv</title>
	{% block header %}
	{% endblock %}
</head>
<body>
    {% block kad %}
        <div id="kad">
            <a href="/kad"><img src="/Img/kad.png"></a>
        </div>
    {% endblock %}
	<div id="header">
	{% block pageheader %}
	{% endblock %}
	</div>
	<div id="container">
	{% block content %}
	{% endblock %}
	</div>	
</body>
</html>
