{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="/CSS/main.css" media="screen" />
{% endblock %}
{% block pageheader %}
<img src="/Img/kaslabs.png" />
{% endblock %}
{% block content %}
{% for event in events %}
	<a href="/p/{{ event.key.id }}"><div id="mainContent" style="width:{{ event.divLen }}px;">
	<div class="time_rotate">{{ event.date_display }}</div>
	<h1>{{ event.title }}</h1>
	<p style="height:58px;overflow:hidden;">{{ event.information }}</p>
	<p><strong style="font-size:10px;">{{ event.venue.title }}</strong></p>
	</div></a>
{% endfor %}
{% if older %}
<a href="/page/{{ older }}">older</a>
{% endif %}
{% if newer %}
    {% ifequal newer 1 %}
    <a href="/">newer</a>
    {% else %}
    <a href="/page/{{ newer }}">newer</a>
    P{% endifequal %}
{% endif %}

{% endblock %}
