{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="/CSS/main.css" media="screen" />
{% endblock %}
{% block pageheader %}
{% if logo %}
<div id="headerImg"><img src="/Img/kaslabs-{{ logo }}.png" /></div>
{% else %}
<div id="headerImg"><img src="/Img/kaslabs-default.png" /></div>
{% endif %}
{% endblock %}
{% block content %}
{% for event in events %}
	<a href="/p/{{ event.key.id }}"><div id="mainContent" style="width:{{ event.divLen }}px;">
	<div class="time_rotate">{{ event.date_display }}</div>
	<h1>{{ event.title }}</h1>
	<p style="height:58px;overflow:hidden;">{{ event.intro_text }}</p>
	<p><strong style="font-size:10px;">{{ event.venue.title }}</strong></p>
	</div></a>
{% endfor %}
{% if error %}
	<div id="mainContent" style="width:700px;">
	<p>Pasākumi netika atrasti. Meklē citu ballīti!</p>
 <a href="/" style="font-size:11px;font-color:#fff;text-decoration:none;"><-- atpakaļ</a></p></div>	
{% endif %}
{% endblock content %}
