{% extends "base-pub.html" %}
{% block pageheader %}{% endblock %}
{% block content %}
<center>
    <div style="margin-top:15%;top:-105px;width:414px;">
        <img src="Img/kaslabs.png" width="414px" alt="" /><hr />
        <a href="/kad/{{ tomorrow }}"><img src="Img/rit.png" alt="" /></a>
            <img src="Img/slash.png" alt="" />
        <a href="/kad/{{ atomorrow }}"><img src="Img/parit.png" alt="" /></a>
            <img src="Img/slash.png" alt="" />
        <a href="/kad/{{ aatomorrow }}"><img src="Img/aizparit.png" alt="" /></a><hr />
        <a href="/kad/{{ week }}"><img src="Img/sonedel.png" alt="" /></a>
            <img src="Img/slash.png" alt="" />
        <a href="/kad/{{ nextweek }}"><img src="Img/nakamnedel.png" alt="" /></a><hr />
        <a href="/kad/{{ month }}"><img src="Img/somenes.png" alt="" /></a><hr />
    </div>    
</center>
{% endblock content %}       
