{% extends "base-pub.html" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="/CSS/event.css" media="screen" />
<script type="text/javascript" src="/JS/prototype.js"></script>
<script type="text/javascript" src="/JS/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="/JS/lightbox.js"></script> <link rel="stylesheet" href="/CSS/lightbox.css" type="text/css" media="screen" />
{% endblock %}
{% block content %}
	<center><p>
	<div id="mainContent" style="width:700px;">
	{% if id %}
	<h1>{{ event.title }}</h1>
	<p>
    {% if multidate %}
    <strong>Sākuma datums:</strong> {{ event.date_display }} - 
    <strong>sākuma laiks:</strong> {{ event.time_display }} -
    <strong>beigu datums:</strong> {{ event.end_date_display }} - 
    <strong>beigu laiks:</strong> {{ event.end_time_display }} -
    {% else %}
    <strong>Datums:</strong> {{ event.date_display }} - 
    <strong>Laiks:</strong> {{ event.time_display }} -
    {% endif %}
	<strong>Vieta:</strong> {{ event.venue.title }}</p>
	<p>{{ event.information }}</p>
	<p>{{ event.venue.title }}<br/>
	Adrese: {{ event.venue.address }}<br/>
    	E-adrese: <a href="{{ event.venue.web }}">{{ event.venue.web }}</a><br/> 
    <a href="http://maps.google.com/maps/api/staticmap?center={{ event.venue.address }}&size=450x450&markers={{ event.venue.address }}&sensor=false" 
    title="&quot;{{ event.venue.title}}&quot;<br />{{ event.venue.address }}"rel="lightbox">karte</a></p>
	{% else %}
	<p>Pasākums netika atrasts. Meklē citu ballīti!</p>
	{% endif %}
     <a href="/" style="font-size:11px;font-color:#fff;text-decoration:none;"><-- atpakaļ</a></p></div>	
                         </center>

{% endblock %}
