{% extends "base-pub.html" %}
{% block pageheader %}{% endblock %}
{% block content %}
<div id="container">
	<center><p>
    	<div style="margin-top:15%;top:-105px;width:414px;">
						    <img src="Img/kaslabs.png" width="414px"><hr/>
						
                        <a href="/kad/{{ tomorrow }}"><img src="Img/rit.png"></a>
							<img src="Img/slash.png">
						<a href="/kad/{{ atomorrow }}"><img src="Img/parit.png"></a>
							<img src="Img/slash.png">
						<a href="/kad/{{ aatomorrow }}"><img src="Img/aizparit.png"></a><hr/>
						<a href="/kad/{{ week }}"><img src="Img/sonedel.png"></a>
							<img src="Img/slash.png">
						<a href="/kad/{{ nextweek }}"><img src="Img/nakamnedel.png"></a><hr/>
						
						<a href="/kad/{{ month }}"><img src="Img/somenes.png"></a></a><hr/>
 
		</div>	
    </center>
{% endblock content %}       

