{% extends "base-pub.html" %}
{% block kad %}{% endblock %}
{% block pageheader %}{% endblock %}
{% block content %}
<center>
    <div style="margin-top:15%;top:-105px;width:414px;">
        <img src="Img/kaslabs-default.png" width="414px" alt="" /><hr />
        <a href="/kad/rit"><img src="Img/rit.png" alt="" /></a>
            <img src="Img/slash.png" alt="" />
        <a href="/kad/parit"><img src="Img/parit.png" alt="" /></a>
            <img src="Img/slash.png" alt="" />
        <a href="/kad/aizparit"><img src="Img/aizparit.png" alt="" /></a><hr />
        <a href="/kad/sonedel"><img src="Img/sonedel.png" alt="" /></a>
            <img src="Img/slash.png" alt="" />
        <a href="/kad/nakamnedel"><img src="Img/nakamnedel.png" alt="" /></a><hr />
        <a href="/kad/somenes"><img src="Img/somenes.png" alt="" /></a><hr />
    </div>    
</center>
{% endblock content %}       
